In [1]:
import pandas as pd

In [ ]:
#Criando um dataframe a partir de um dicionário

In [3]:
venda = {'data': ['15/02/2021', '16/02/2021'],
        'valor': [500,300],
        'produto': ['feijao', 'arroz'],
        'qtde': [50,70]
        }
print(venda)
vendas_df = pd.DataFrame(venda)

{'data': ['15/02/2021', '16/02/2021'], 'valor': [500, 300], 'produto': ['feijao', 'arroz'], 'qtde': [50, 70]}

In [4]:
#Visualização de Dados - print e display
print(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

In [5]:
display(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

In [ ]:
#Im